.App {
  text-align: center;
  position: relative;
}
.marker div{
  z-index: 100;
  /* border-color: #282c34;
  border: solid rgba(50, 4, 4, 0.612); */
}
img {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.event-form-container {
  display: flex;
  transition: 1s;
}

.event-form-container-hidden {
  display: flex;
  transition: 1s;
  transform: translateX(-100%);
}

.data-list {
  position: absolute;
  height: 100vh;
  width: 300px;
  z-index: 1; 
  background-color: #f7f7f7; /* Set the background color */
  overflow: hidden;
  transition: transform 0.3s ease-out;
  font-size:12px;
  border: 5px solid rgb(12, 194, 12);
}

.title-box {
  background-color: #ffffff; /* Set the background color */
  color: #c32323; /* Set the text color */
  padding: 10px; /* Set the padding */
  border-radius: 5px; /* Set border radius for rounded corners */
  margin-bottom: 20px; /* Add margin to separate the title box from the rest of the content */
}
.icon {
  margin-right: 10px; /* Adjust the spacing between the icon and the title */
  width: 14px;
}


.title-box h2 {
  margin: 0; /* Remove margin to avoid extra spacing inside the title box */
}

.data-list.FR {
  transform: translateX(-100%);
}
.events-List {
  list-style: none;
  padding: 0;
}

.events-List li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(31, 214, 31, 0.1);
  border-radius: 5px;
}

.events-List li strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.events-List li span {
  font-size: 14px;
  color: #ccc;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}